@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .menu_toggler {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login_btn:active {
    color: orangered;
}

/* Legördülő menü */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 150px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.dropdown_menu.open {
    height: auto;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .login_btn {
    display: flex;
    justify-content: center;
}

/* Dinamikus megjelenítés */

@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .menu_toggler {
        display: block;
    }

    /* Fő menüsor rejtése */

    .navbar .login_btn {
        display: none;
    }

    /* Legördülő menüben megjelenítés */

    .dropdown_menu .login_btn {
        display: flex;
        justify-content: center;
    }

    .dropdown_menu {
        display: block;
    }
}
