@font-face {
    font-family: 'CascadiaMonoBold';
    src: url('../fonts/CascadiaMonoPL-Bold.otf');
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background: darkslateblue;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: #0e0e0e;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'CascadiaMonoBold';
}

.navbar .accountBtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

section {
    display: block;
    padding-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    display: block;
    padding: 1rem 1rem;
    background-color: #0e0e0e;
}