@font-face {
    font-family: 'CascadiaMonoBold';
    src: url('../fonts/CascadiaMonoPL-Bold.otf');
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: url('../images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: #0a0a0a;
    z-index: 1;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'CascadiaMonoBold';
}

.navbar .accountBtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #0a0a0a;
}

/* dinamikus megjelenítés */
@media (max-width: 992px) {}