{% extends "base.html" %}
{%block title %} Találatok - {% endblock %}

{%block content%}

<h1 class="text-center">{{ name }} hirdetések</h1>

<form id="Form" class="hirdetesekFejlec" method="POST" action="{{ url_for('hirdetes.index') }}">

    <label for="min_price">Szűrés:</label>

    <div style="width: 30%;" class="input-group">
        <input class="form-control" onchange="submitForm()" type="number" id="min_price" name="min_price" placeholder="Minimum ár">
        <span class="input-group-text">Ft.</span>
    </div>

    <div style="width: 30%;" class="input-group">
        <input class="form-control" onchange="submitForm()" type="number" id="max_price" name="max_price" placeholder="Maximum ár">
        <span class="input-group-text">Ft.</span>
    </div>



<div>
    <select class="form-select" id="sortBy" name="sortBy" onchange="submitForm()">
        <option value="date_desc">Csökkenő (Dátum szerint)</option>
        <option value="date_asc">Növekvő (Dátum szerint)</option>
        <option value="price_desc">Csökkenő (Ár szerint)</option>
        <option value="price_asc">Növekvő (Ár szerint)</option>
    </select>
</div>

</form>

<div class="hirdetesekLista">
    {% for advertisement in filtered_advertisements %}
    {% if advertisement.available %}
    <div class="hirdetesekCard">

        <a class="align-self-center" href="{{ url_for('hirdetes.adv_details', id=advertisement.advertisementID) }}"><img
                class="hirdetesekImage" src="/static/cdn/{{advertisement.image_path}}" alt="kepHiba"></a>

        <div class="hirdetesekText">
            {{ advertisement.title }}

        </div>
        <div class="hirdetesekInfok">
            {{ "{:,.0f}".format(advertisement.price).replace(',', ' ') }} Ft
            <br>
            {{ advertisement.date }}
        </div>
        <div class="hirdetesekFeladoInfok">
            {% set user = User.query.get(advertisement.userID) %}
            <a id="advInfo" href="{{ url_for('hirdetes.advByUser', id=user.userID) }}">
                {{ user.username }}
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{%endblock%}