{% extends "base.html" %}
{%block title %} Találatok - {% endblock %}

{%block content%}


    <h1>Hírdetések</h1>
    <h3>{{ category }}</h3>
    <form method="POST" action="{{ url_for('hirdetes.query', category=category) }}">
        <label for="sortBy">Rendezés:</label>
        <select id="sortBy" name="sortBy">
            <option value="price_desc">Csökkenő (Ár szerint)</option>
            <option value="price_asc">Növekvő (Ár szerint)</option> 
            <option value="date_desc">Csökkenő (Dátum szerint)</option>
            <option value="date_asc">Növekvő (Dátum szerint)</option>
        </select>

        <label for="min_price">Minimum Ár:</label>
        <input type="number" id="min_price" name="min_price" placeholder="Minimum ár">
        <label for="max_price">Maximum Ár:</label>
        <input type="number" id="max_price" name="max_price" placeholder="Maximum ár">
    
        <button type="submit">Küldés</button>
    </form>
    {% for advertisement in filtered_advertisements %}
    {% if advertisement.available %}
        <div class="cardContainer">
            <a href="{{ url_for('hirdetes.adv_details', id=advertisement.advertisementID) }}">
                <div class="card upper-card">
                    <div class="text">
                        <p>{{ advertisement.date }}</p>
                        <p>{{ advertisement.title }}</p>
                        <p>{{ advertisement.category }}</p>
                        <p>{{ advertisement.description }}</p>
                        <p>{{ advertisement.price }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}

{%endblock%}