{% extends "base.html" %}
{%block title %} Rólunk {% endblock %}

{%block content%}

<div class="content">
    <h1>Hírdetések</h1>
    <form action="{{ url_for('hirdetes.query', category=category) }}" method="post">
        <label for="dateSort">Dátum szerint:</label>
        <select id="dateSort" name="dateSort">
            <option value="desc">Csökkenő</option>
            <option value="asc">Növekvő</option> 
        </select>
    
        <label for="priceSort">Ár szerint:</label>
        <select id="priceSort" name="priceSort">
            <option value="desc">Csökkenő</option>
            <option value="asc">Növekvő</option>
        </select>

        <label for="min_price">Minimum Ár:</label>
        <input type="number" id="min_price" name="min_price" placeholder="Minimum ár" required>
        <label for="max_price">Maximum Ár:</label>
        <input type="number" id="max_price" name="max_price" placeholder="Maximum ár" required>
    
        <button type="submit">Küldés</button>
    </form>
    {% for advertisement in filtered_advertisements %}
    {% if advertisement.available %}
        <div class="container">
            <a href="{{ url_for('hirdetes.adv_details', id=advertisement.advertisementID) }}">
                <div class="card upper-card">
                    <div class="text">
                        <p>{{ advertisement.date }}</p>
                        <p>{{ advertisement.title }}</p>
                        <p>{{ advertisement.category }}</p>
                        <p>{{ advertisement.description }}</p>
                        <p>{{ advertisement.price }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}
</div>

{%endblock%}