{% extends "base.html" %}
{%block title %} Találatok - {% endblock %}

{%block content%}
<h1 style="text-align: center; margin-bottom: 40px;">Hirdetési Szabályzat</h1>
<p>Üdvözöljük az oldalunkon! Kérjük, olvassa el figyelmesen az alábbi hirdetési szabályzatot, mielőtt hirdetést adna fel.</p>

<h2 style="margin-top: 30px;">1. Hirdetés tárgya</h2>
<p>Az oldalon csak számítógéppel kapcsolatos termékek, notebook-ok és telefonok hirdethetők eladásra. A következő termékek, szolgáltatások hirdetése tilos:</p>
    <ul>
        <li>A 175/2003. (X. 28.) Korm. rendeletben megemlített közbiztonságra veszélyes eszköz, robbanószer, pirotechnikai eszköz, petárda.</li>
        <li>Jövedéki termék (üzemanyag, alkohol, dohánytermékek, stb.), elektronikus cigaretta, hozzávaló alkatrész, folyadék.</li>
        <li>Üdülési csekk, cafeteria, befektetési lehetőség, értékpapír, bankbetét, bankkártya, hitelkártya, kivétel a forgalmi érték nélküli, régiségként árult termékek.</li>
        <li>Gyógyszer, kábítószer, bármilyen bódító vagy tudatmódosító szer.</li>
        <li>Veszélyes (mérgező, gyúlékony, robbanásveszélyes, sugárzó stb.) anyag.</li>
        <li>Emberi szövet, szerv, szexuális tárgyú termék vagy szolgáltatás.</li>
        <li>Hamis vagy hamisított márkajelzésű, más néven klón vagy replika termékek (egy termék illegális másolatát vagy egy gyártó (márka)nevének, logójának illegális felhasználásával készült terméket hirdetni tilos).</li>
        <li>Garancialevél termék nélkül, valamint igazolvány, bizonyítvány, oklevél, hivatalos irat, közokirat, és ezek érvényesítő szelvénye (matrica, bélyeg, pecsét stb.).</li>
        <li>Jogvédett szellemi termékek (szoftver, hangfelvétel stb.) jogellenes másolatai, vagy szoftverhez tartozó, de az eredeti terméktől különválasztott, illetve nem jogtiszta kódok, kulcsok, szelvények, adathordozók, tartozékok.</li>
        <li>Accountok (hozzáférés, regisztráció, felhasználói fiók).</li>
        <li>Személyes adatokat tartalmazó adatbázis; meghívó / account (hozzáférés, regisztráció, felhasználói fiók) FTP, torrent, web vagy közösségi oldalakra.</li>
        <li>Kártékony szoftver (vírus, trójai, rootkit stb.) illetve hardver (pl. keylogger).</li>
        <li>Letiltott, jelszóvédett telefon, tablet, egyéb eszköz.</li>
        <li>Bármi, ami sérti személy vagy szervezet jogát (személyiségi, kegyeleti, szabadalmi, szerzői stb.), jogos érdekét.</li>
        <li>Bármi, ami jogszabályba ütköző vagy jogellenes tevékenységre utal, illetve bűncselekményt vagy szabálysértést valósít meg.</li>
        <li>Termék vagy szolgáltatás, melynek internetes forgalmazását jogszabály tiltja.</li>
        <li>Egy konkrét termék vagy szolgáltatás egy időben többszöri hirdetése (kivétel: fizetett hirdetés, viszont ez esetben minden többszöri hirdetésnek fizetettnek kell lennie).</li>
        <li>Ugyanazon termék vagy szolgáltatás 30 napon belüli ismételt meghirdetése.</li>
        <li>Licit-hirdetések feladása (csak fix ár adható meg), "clickbait" ár, keresőeltérítés.</li>
        <li>Élő állat.</li>
    </ul>

    <p>Kérjük, ügyelj arra, hogy hirdetéseid megfeleljenek a fent felsoroltaknak, és ne tegyél közzé olyan termékeket vagy szolgáltatásokat, amelyek az említett tilalmak alá tartoznak.</p>


<h2 style="margin-top: 30px;">2. Hirdetés feladása</h2>
<p>Hirdetést feladni csak a regisztrált felhasználók számára lehetséges. Az eladandó termék pontos leírását, képeit, árát, illetve elérhetőséget kötelező megadni a hirdetés feladásakor.</p>

<h2 style="margin-top: 30px;">3. Hirdetés tartalma</h2>
<p>A hirdetések tartalmának tisztességesnek és pontosnak kell lennie. Hamis vagy félrevezető információk megadása tilos.</p>

<h2 style="margin-top: 30px;">4. Jogi felelősség</h2>
<p>Az oldal üzemeltetői nem vállalnak felelősséget a feladott hirdetések tartalmáért, valamint az eladott termékek minőségéért és állapotáért. A hirdető felelőssége teljes körű a hirdetés tartalmáért és a tranzakciókért.</p>

<h2 style="margin-top: 30px;">5. Hirdetés törlése vagy módosítása</h2>
<p>Az oldal üzemeltetői fenntartják a jogot arra, hogy bármely hirdetést előzetes értesítés nélkül töröljenek amennyiben azt a hirdetési szabályzat megsértése vagy más jogszabályok sértése indokolja.</p>

<h2 style="margin-top: 30px;">6. Kapcsolat</h2>
<p>Ha bármilyen kérdése van a hirdetési szabályzattal kapcsolatban, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségeken: teszemveszem@business.com</p>
<p>Köszönjük, hogy az oldalunkat választotta, és tiszteletben tartja a hirdetési szabályzatunkat.</p>
{%endblock%}
