{% extends "base.html" %}
{% block title %} Hirdetés részletei {% endblock %}

{% block content %}
{% if advertisement.userID == userID %}
    <a href="{{ url_for('hirdetes.adv_edit', id=advertisement.advertisementID) }}"><p>Hirdetés szerkesztése</p></a>
{% endif %}

    <div class="text">
        <p>Felhasználó ID: {{ advertisement.userID }}</p>
        <p>Dátum: {{ advertisement.date }}</p>
        <p>Cím: {{ advertisement.title }}</p>
        <p>Kategória: {{ advertisement.category }}</p>
        <p>Leírás: {{ advertisement.description }}</p>
        <p>Ár: {{ advertisement.price }}</p>
    </div>
{% endblock %}
