<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeszemVeszem</title>
    <link rel="stylesheet" href="../Styles/site.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#" class="logo">TeszemVeszem</a></div>
            <ul class="links">
                <li><a href="home" class="hero">cuc</a></li>
                <li><a href="home" class="hero">cuc</a></li>
                <li><a href="home" class="hero">cuc</a></li>
                <li><a href="home" class="hero">cuc</a></li>
            </ul>
            <div class="toggle_login"><a href="" class="login_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </a>
            </div>
        </div>
    </header>
</body>

</html>