<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeszemVeszem</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">TeszemVeszem</a></div>
            <ul class="links">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="" class="login_btn">Fiók</a>
            <div class="toggle_login"></div>
        </div>
    </header>
</body>

</html>