{% extends "base.html" %} {%block title %} Főoldal - {% endblock %} {%block
content%}

<h2 class="text-center">
    Vásárolj, és adj el Magyarország egyik legmegbízhatóbb online piacterén!
</h2>

<div class="hirdetesHomeDoboz">
    <div class="cardContainer">
        <div class="card upper-card" onclick="redirectToPage('/hirdetes/hardver')">
            <span class="catIcon bi bi-motherboard"></span>
            <span class="catName">Hardver</span>
        </div>
        <div class="card upper-card" onclick="redirectToPage('/hirdetes/notebook')">
            <span class="catIcon bi bi-laptop"></span>
            <span class="catName">Notebook</span>
        </div>
        <div class="card upper-card" onclick="redirectToPage('/hirdetes/mobil')">
            <span class="catIcon bi bi-phone"></span>
            <span class="catName">Mobil</span>
        </div>
    </div>

    <hr />

    <h4 class="text-center">Legpörgősebb kategóriák</h4>

    <div class="cardContainer">
        {% for category in best_categories %}
        <div class="card middle-card" onclick="redirectToPage('/hirdetes/{{category.endpoint_name}}')">
            <span class="catIcon middle {{category.icon_path}}"></span>
            <span class="catName">{{ category.name }}</span>
        </div>
        {% endfor %}
    </div>

    <hr />

    <div class="cardContainer">
        <div style="flex-direction: column;"" class="card bottom-card" onclick="redirectToPage('/hirdetes/osszes')">
            <span class="catName">Csak nézelődöm, mutasd az összeset</span>
        </div>
    </div>

    <div class="text-center">
        <a href="/hirdetes/hirdetesfeladas" class="btn btn-primary btn-lg bi bi-plus-circle">
            Hirdetésfeladás
        </a>
    </div>
</div>

{%endblock%}