{% extends "base.html" %}
{%block title %} Találatok - {% endblock %}

{%block content%}


    <h1>Hírdetések</h1>
    <form method="POST" action="{{ url_for('hirdetes.index') }}">
        <label for="sortBy">Rendezés:</label>
        <select id="sortBy" name="sortBy">
            <option value="price_desc">Csökkenő (Ár szerint)</option>
            <option value="price_asc">Növekvő (Ár szerint)</option> 
            <option value="date_desc">Csökkenő (Dátum szerint)</option>
            <option value="date_asc">Növekvő (Dátum szerint)</option>
        </select>

        <label for="min_price">Minimum Ár:</label>
        <input type="number" id="min_price" name="min_price" placeholder="Minimum ár">
        <label for="max_price">Maximum Ár:</label>
        <input type="number" id="max_price" name="max_price" placeholder="Maximum ár">
    
        <button type="submit">Küldés</button>
    </form>
    <div class="hirdetesLista">
    {% for advertisement in advertisements %}
    {% if advertisement.available %}
        
            <div class="hirdetesCard">
                <div class="hirdetesImage">
                    <img src="{{advertisement.image_path}}" alt="kepHiba">
                </div>
                <div class="hirdetesText">
                    <p>{{ advertisement.title }}</p>
                </div>
                <div class= "hirdetesInfos"></div>
                <div class= "feladoInfos">
                    <p>{{ advertisement.price }} Ft</p>
                    <p>{{ advertisement.date }}</p>
                </div>
            </div>
        </a>
    {% endif %}
    {% endfor %}
</div>

{%endblock%}