{% extends 'base.html' %}
{% block title %} Bejelentkezés {%endblock%}

{%block content%}

<div class="login-box">
    <h2>Bejelentkezés</h2>
    <form method="POST">
        <div class="user-box">
            <input type="email" id="email" name="email" aria-describedby="emailHelp">
            <label for="email">Email</label>
        </div>
        <div class="user-box">
            <input type="password" id="password" name="password">
            <label for="password">Jelszó</label>
        </div>
        <a href="">
            <a href="/">
                <label for="submitBtn">Bejelentkezés
                    <input type="submit" id="submitBtn" style="display:none;">
                </label>
            </a>
        </a>
    </form>
    <h3>Még nincs fiókod? <a href="/auth/signup">Kattints ide!</h3>
</div>

{%endblock%}