{% extends 'base.html' %}
{% block title %} Bejelentkezés - {%endblock%}

{%block content%}

<h1 style="text-align: center; margin-bottom: 40px;">Adatvédelmi Tájékoztató</h1>
<p style="margin-bottom: 40px;">Utolsó frissítés dátuma: 2024.03.27</p>
<p>Üdvözlünk a TeszemVeszem weboldalán! Az alábbiakban tájékoztatunk téged az általunk gyűjtött és kezelt személyes adatokról, valamint az ezekkel kapcsolatos jogaidról és azok gyakorlásáról.</p>
<h2 style="margin-top: 30px;">1. Gyűjtött adatok</h2>
<p>Oldalunk látogatásakor a következő típusú adatokat gyűjthetjük:</p>
<ul>
    <li>E-mail cím</li>
    <li>Felhasználónév</li>
    <li>Jelszó</li>
</ul>
<h2 style="margin-top: 30px;">2. Adatkezelés célja</h2>
<p>A gyűjtött adatokat kizárólag az alábbi célokra használjuk:</p>
<ul>
    <li>Felhasználói fiók létrehozása és kezelése</li>
    <li>Felhasználó azonosítása</li>
</ul>
<h2 style="margin-top: 30px;">3. Adatmegosztás</h2>
<p>A gyűjtött adatokat harmadik féllel nem osztjuk meg, kivéve, ha azt törvény írja elő, vagy ha a felhasználó kifejezetten hozzájárul ehhez.</p>
<h2 style="margin-top: 30px;">4. Felhasználói jogok</h2>
<p>Az adatvédelmi jogaid gyakorlására a következő lehetőségek állnak rendelkezésre:</p>
<ul>
    <li>Hozzáférés az adataidhoz</li>
    <li>Az adatok helyesbítése</li>
    <li>Adatok törlése</li>
</ul>
<h2 style="margin-top: 30px;">5. Kapcsolat</h2>
<p>Ha bármilyen kérdésed van az adatvédelemmel kapcsolatban, kérjük, vedd fel velünk a kapcsolatot az alábbi elérhetőségeken: teszemveszem@business.com</p>
<p>Reméljük, hogy ezzel az adatvédelmi tájékoztatóval világosabbá tudtuk tenni, hogy hogyan kezeljük és védelmezzük az adataidat.</p>

{%endblock%}