{% extends "base.html" %}
{%block title %} Profilom {% endblock %}

{%block content%}

<div class="hirdetesdoboz">
    <div>
        <div class="container">
            <div class="card upper-card" onclick="redirectToPage('/hirdetes/hirdetesfeladas')">
                <div class="text">
                    <p>Hirdetésfeladás</p>
                </div>
            </div>
            <div class="card upper-card" onclick="redirectToPage('/felhasznalonev')">
                <div class="text">
                    <p>Felhasználónév</p>
                </div>
            </div>
            <div class="card upper-card" onclick="redirectToPage('/jelszokezeles')">
                <div class="text">
                    <p>Jelszó</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card bottom-card">Small Card
                <div class="text">
                    <p>(?)</p>
                </div>
            </div>
            <div class="card bottom-card">Small Card
                <div class="text">
                    <p>(?)</p>
                </div>
            </div>
            <div class="card bottom-card">Small Card
                <div class="text">
                    <p>(?)</p>
                </div>
            </div>
            <div class="card bottom-card">Kedvencek
                <div class="text">
                    <p>(Hamarosan)</p>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}