{% extends 'base.html' %}
{% block title %} Regisztrálás {%endblock%}
{%block content%}
<div class="login-box">
    <h2>Bejelentkezés</h2>
    <form method="POST">
        <div class="user-box">
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <label for="email" >Email</label>
        </div>
        <div class="user-box">
            <input type="textarea" class="form-control" id="username" name="username">
            <label for="username">Felhasználónév</label>
        </div>
        <div class="user-box">
            <input type="password" class="form-control" id="password" name="password">
            <label for="password1">Jelszó</label>
        </div>
        <div class="user-box">
            <input type="password" class="form-control" id="password2" name="password2">
            <label for="password2" class="form-label">Jelszó megerősítése</label>
        </div>
        <a href="/">Regisztrálás</a>
    </form>
    <h3>Már van fiókod? <a href="/auth/login">Kattinst ide!</h3>
</div>


{%endblock%}