html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #45ADFF;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box h3 {
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-size: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box a {
    text-align: center;
}

.login-box a:hover {
    background: #003d30;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #003d30,
    0 0 25px #003d30,
    0 0 50px #003d30,
    0 0 100px #003d30,;
}