.authPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 5%;
    padding: 25px;
    background: whitesmoke;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 1rem;
}
