@font-face {
    font-family: 'CascadiaMonoBold';
    src: url('CascadiaMonoPL-Bold.otf');
    font-style: bold;
}

@font-face {
    font-family: 'CascadiaMono';
    src: url('CascadiaMonoPL-Regular.otf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CascadiaMono', sans-serif;
}

body {
    height: 100vh;
    background-color: #F0F0FF;
    overflow: hidden;
    overflow-y: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: #008FFF;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-family: 'CascadiaMonoBold';
    font-weight: bold;
}

.navbar .accountBtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1rem 1rem;
    color: grey;
    width: 100%;
    background-color: #008FFF;
}

/* dinamikus megjelenítés */
@media (max-width: 992px) {

    .sitecontent {
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        height: 100%;
    }

    .card {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        margin: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .icon {
        flex-grow: 1;
    }

    .text {
        display: flex;
    }

    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .card.upper-card {
        height: 13rem;
        width: 100%;
    }

    .card.bottom-card {
        height: 10rem;
        width: 100%;
    }


    .container {
        display: flex;
        justify-content: space-evenly;
        max-height: 15rem;
    }

    .hirdetesdoboz {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: #45ADFF;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .hardverlogo {
        width: 64;
    }
}