@font-face {
    font-family: 'CascadiaMonoBold';
    src: url('../fonts/CascadiaMonoPL-Bold.otf');
    font-style: bold;
}
@font-face {
    font-family: 'CascadiaMono';
    src: url('../fonts/CascadiaMonoPL-Regular.otf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'CascadiaMono', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: darkslateblue;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: #0e0e0e;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'CascadiaMonoBold';
}

.navbar .accountBtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

section {
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #0e0e0e;
}