* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url('../static/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* menüsáv */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .menuButton {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* apró menü */
.aproMenu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 150px;
    height: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.aproMenu.open {
    height: auto;
}

.aproMenu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dinamikus megjelenítés */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .accountBtn {
        display: none;
    }

    .navbar .menuButton {
        display: block;
    }

    .aproMenu {
        display: block;
    }
}